{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}

{% block body %}
<style>
    body{ 
        background-image: url({{ article.categorie.fond }});
        background-size: cover;
        text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    }
</style>
<div style="text-align:center">
    <h1> {{article.titre}} </h1>
    <p> Catégorie: <a href="{{ path('app_categorie',{'id': article.categorie.id}) }}">{{article.categorie.libelle}}</a></p>
    <p> {{article.contenu|raw}} </p>
</div>
    <p style="text-align:right; padding-right:60px">Article crée le: {{article.dateCreation|date("d/m/Y \\à H:i:s")}}</p>

{% endblock %}
